@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: var(--font3);
    color: white;
}

@media screen and (max-width: 420px)  {
    .logo{
        width: 70%;
        margin: auto;
        padding: 20px;
        padding-top: 26px;
        border: 1.5px solid var(--cor2);
        line-height: 2em
    }
   
    .cabecalho > div h1{
        font-size: 2em;
    }
}

@media (min-width: 980px){
    body{
        background-image: linear-gradient(to bottom, black, var(--cor3));
    }


    .logo{
        margin: auto;
        width: 410px;
    }

    #sobre{
        margin: 45px auto 20px;
        width: 840px;
    }

    .container{
        width: 900px;
        margin: auto;
    }

    #orcamento{
        width: 840px;
        margin: auto;
        margin-top: 15px;
    }

    #contato div{
        width: 320px;
    }

    footer{
        margin-top: 40px;
    }
}