@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: var(--font3);
    color: white;
}

@media (min-width: 980px){
    
    .logo{
        margin: 0px 450px; 
        width: 410px;
    }

    #sobre{
        width: 500px;
        margin: auto;
    }

    .container{
        width: 900px;
        margin: auto;
    }

    #orcamento{
        width: 840px;
        margin: auto;
        margin-top: 15px;
    }

    footer{
        margin-top: 20px;
    }
}