@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: var(--font3);
}

:root{
    --cor1: rgb(238, 27, 27);
    --cor2: rgb(173, 12, 12);
    --font1: 'League Spartan', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Josefin Sans', sans-serif;
}

#endereco{
    background-color: black;
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
}

header{
    background-color: black;
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #botao{
    padding-right: 20px;
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 10px;
}

#botao a {
    color: white;
}

#botao:hover{
    background-color: rgba(202, 44, 44, 0.616);
    transition: 0.3s;
}

#logo h1{
    font-family: var(--font3);
}

#logo span{
    color: var(--cor1);
}

main{
    background-color: goldenrod;
    width: 100%;
}

#imagem{
    text-align: center;
    margin: 20px;
}

.img{
    margin: 20px auto;
    width: 400px;
}

.titulo{
    color: white;
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    top: 150px;
    width: 475px;
    text-shadow: 1px 5px 10px black;
    
}

.txt{
    background-color: gray;
    margin: 10px;
   padding: 10px; 
}

