@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: var(--font3);
    color: white;
}

:root{
    --cor1: rgb(238, 27, 27);
    --cor2: rgb(173, 12, 12);
    --font1: 'League Spartan', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Josefin Sans', sans-serif;
}

body{
    background-color: black;
    margin: 20px;
}

#botao{
    background-color: var(--cor2);
    font-size: 1em;
    width: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

#botao:hover{
    background-color: rgba(202, 44, 44, 0.616);
    transition: 0.3s;
}

h1{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}

#subt{
    background-color: white;
    color: black;
    padding: 15px;
    margin: 30px 20px;
    text-align: center;
    font-size: 1.2em;
}

#sobre{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    height: 90vh;
    text-align: justify;
    text-indent: 20px;
}